<!DOCTYPE html>
<html>
  <head>
    <title>Kebab</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="stylesheets/tab.css" />
    <link rel="stylesheet" href="stylesheets/slide.css" />

    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript" src="javascripts/creative/tab.js" ></script>
    <script type="text/javascript" src="javascripts/creative/slide.js" ></script>
    <script type="text/javascript"></script>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
